{% set cover = True -%}
{% extends "cmuaudit/_base.anonymous.jinja" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>GradPath
                <br>
            </h1>
            <br>
            <br>
            <a class="btn btn-lg btn-primary" href="/sign_up">Sign up</a>
            <br>
            <br>
            <a class="btn btn-lg btn-link" href="/sign_in">Sign in</a>
        </div>
    </div>
</div>
{% endblock content %}